# -
# runbyonrails_db.env.template
#  Environment variables for postgres, used with Docker Compose.
#  Copy this file to .runbyonrails_db.env and fill in the missing values.
#  *.env files are in .gitignore. Make sure they are never committed to the repo.
# Note that the *.env files are not used when deploying to a service like AWS.
# -

POSTGRES_USER=
POSTGRES_PASSWORD=
