<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Runby Pace &copy; <%= Date.today.year %> Ty Walls <a href="https://twitter.com/tygertec">@tygertec</a>
    </p>
  </div>
</footer>